.banner img {
	margin-top: unset;
}

.banner {
    background-image: none;  // désactive l'image qui est appelée dans la classe banner du thème parent

    .backgroundBanner {
        position: absolute;
        width: 100% !important;
        z-index: -2;
        margin-top: 0px !important;
    }

    .logoBanner {
        width: 75%;
        z-index: 1;
        position: relative;
        top: 120px;
        margin-left: 120px;
    }
    
    .videoBanner {
        position: absolute;
        width: 100% !important;
        z-index: -1;
    }
}



@media only screen and (max-width: 700px) {
    .videoBanner {
        display: none;
    }
    
    .backgroundBanner img {
        margin-bottom: 430px;
    }
    
    .backgroundBanner {
        margin-bottom: 430px;
        width: 100%; /* Pleine largeur */
        height: auto; /* Maintient le ratio d'aspect */
    }

    .boutonMenu {
        position: absolute; /* Ajustez ceci selon vos besoins */
        right: -100px; /* Position exemple, ajustez selon vos besoins */
        z-index: 10; /* Assure qu'elle est au-dessus de l'image de la bannière */
    }

    #story {
        margin-top: -500px;
    }
}

