// CSS du menu-Burger

.main-navigation {
	height: 80px;
} 

.main-navigation ul {
    display: flex;
}

.main-navigation ul .site-title {
	display: flex;
}

.MenuFull {
    background-color: #FFF5E9;
    opacity: 0;
    transition: opacity 0.5s ease-in, height 0.5s ease-in;

 &.nav_open {
    opacity: 1;
    height: 100vh;
    visibility: visible;
    display: block;
    transition: opacity 0.5s ease-in, height 0.5s ease-in;
    width: 100%;
    overflow: hidden;
  }
}

.boutonMenu {
	width: 42px;
	height: 24px;
	cursor: pointer;
	position: relative;
	float: right;
	margin-top: 30px;
	margin-right: 120px;

	span {
		width: 100%;
		height: 1px;
		background-color: black;
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: background-color 0.5s ease-in-out;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: black;
			transition: transform 0.5s ease-in-out;
		}

		&::after{
			transform: translateY(10px);
		}
		&::before {
			transform: translateY(-10px);
		}
	}

 &.active {
	span {
		background-color: transparent;
		&::before {
			transform: translateY(0px) rotateZ(45deg);
		}
		&::after {
			transform: translateY(0px) rotateZ(-45deg);
		}
	}
 }
}

.menu-items {
  display: none;
  background-color: #FFF5E9;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
  }
}

.liste {
	    ul {
	        text-align: center;
	        height: 57%;
	    }

	    li {
	        text-align: center;
          	list-style-type: none;
	    }

	    li a {
	        text-decoration: none !important;
	        list-style-type: none !important;
	        font-size: 3vw;
	        font-weight: bold;
	        line-height: 104px;

	        &:hover {
	            filter: drop-shadow(0px 0px 5px #ff5c00);
	            -webkit-filter: drop;
	        }
	    }

	    img {
	        margin: auto;
	        display: flex;
	    }
	}

.menuParagraphe {
  margin-left: 80px;
  text-align: center;
}

// Images dans le menu-Burger
	#catMenuBleu,
	#catMenuBlack,
	#catMenuOrange,
	#fleurMenuSunFlower,
	#fleurMenuOrchid,
	#fleurMenuHibiscus,
	#fleurMenuRandom,
	#fleurMenuFlower {
		position: absolute;
  }

  .logoMenu {
    width: 200px;
    }

  #catMenuBleu {
    top: 260px;
    left: 280px;
    width: 120px;
    height: 105px;
  }

  #catMenuBlack {
    top: 480px;
    right: 210px;
    width: 120px;
    height: 105px;
  }

  #catMenuOrange {
    top: 700px;
    left: 80px;
    width: 93px;
    height: 84px;
  }

  #fleurMenuSunFlower{
    top: 215px;
    right: 210px;
  }

   #fleurMenuOrchid{
    top: 117px;
    left: -54px;
  }

  #fleurMenuHibiscus{
    top: 640px;
    right: -240px;
    width: 30%;
  }

  #fleurMenuRandom{
    top: 400px;
    right: -80px;
    width: 5%;
  }

  #fleurMenuFlower {
    top: 480px;
    left: 230px;
    width: 80px;
    height: 80px;
  }

// Animation Flottement des chats
#catMenuBlack,
#catMenuOrange,
#catMenuBleu {
	animation: flotte 8s infinite alternate;
  }

// media querie images

@media (min-width: 700px) and (max-width: 1000px) {
	#catMenuBleu {
		left: 10%;
	}
	#fleurMenuSunFlower {
		right: 5%;
	}
	
	#catMenuBlack {
		right: 10%;
	}
	#fleurMenuFlower {
		left: 5%
	}
}

@media (max-width: 700px) {
#catMenuOrange {
    left: 0;
}

.main-navigation a {
	font-size: 14px;
}

.main-navigation ul {
	justify-content: flex-start;
}

.banner {
	min-height: 100vh;
}

.banner .backgroundBanner {
    position: absolute;
    width: 100% !important;
	height: 100%;
	top: 0;
	object-fit: cover;
}

#catMenuBleu {
    display: none;
}

#catMenuBlack {
    top: 440px;
    right: 0;
}
#fleurMenuFlower {
    left: 5%
}

.liste li a {
	font-size: 4.5vw;
}

#fleurMenuSunFlower {
	display: none;
}
ul, ol {
    margin: 0 0 1.5em -4em;
}

.menuParagraphe {
	margin-left: -10px;
}
}
