// CSS de l'evenement Oscar

/* section nomination */
.nomination_container {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nomination_text {
  font-family:  Quicksand;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -0.84px;
  line-height: 1;
  height: 280px;
  max-width: 723px;
  width: 100%;
  color: #FFF5E9;
  margin-left: 70px;
  padding-top: 20px;
  padding-right: 100px;
}

.nomination_text_container {
  background-image: url("../../assets/images/orange_oscar_bg.png");
  background-repeat: no-repeat;
  margin-top: 6px; 
  margin-left: 50px; 
  background-size: 100% ;
}


.nominationOscar {
  width: 25%;
  padding-bottom: 100px;
}

#oscar::before, #oscar::after {
  content: "";
  background-size: cover;
  position: absolute;
  width: 180px;
  height: 180px;
}

#oscar::before {
  background-image: url("../../assets/images/Sunflower.png");
 
}

#oscar::after {
  background-image: url("../../assets/images/orchid.png");
  right: -70px;
  top: -70px;
}

// media queries

@media (min-width: 700px) and (max-width: 1000px) { 
  .nomination_text {
    font-size: 24px;
    padding-right: 90px;
  }

  #oscar::before, #oscar::after {
    width: 120px;
    height: 120px;
  }
  #studio h2::before {
    left: -2em;
  }

}

@media (max-width: 700px) {
  .nomination_text {
    font-size: 4vw;
    width: 100%;
    max-width: 545px;
    height: 111px;
}

  .nomination_text_container {
    margin-left: 0;
    background-size: 100%;
    order: 1;
    margin-bottom: -120px;
  }

  .nomination_text_container {
    margin-left: 0;
    background-size: 100%;
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
}

  .nomination_container {
    padding-top: 134px;
    flex-direction: column;
    align-items: center;
  }

  .nominationOscar {
    order: 2;
    width: 30%;
    padding-bottom: 0;
  }

  
  #oscar::after {
    right: -30px;
}

#oscar::before, #oscar::after {
    width: 100px;
    height: 100px;
} 
}
