/* section nomination */
.nomination_container {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nomination_text {
  font-family:  Quicksand;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -0.84px;
  line-height: 1;
  height: 280px;
  width: 723px;
  color: #FFF5E9;
  margin-left: 70px;
  padding-top: 20px;
}

.nomination_text_container {
  background-image: url("../../assets/images/orange_oscar_bg.png");
  background-repeat: no-repeat;
  margin-top: 6px; 
  margin-left: 50px; 
}


.nominationOscar {
  width: 25%;
  padding-bottom: 100px;
}

#oscar::before, #oscar::after {
  content: "";
  background-size: cover;
  position: absolute;
  width: 180px;
  height: 180px;
}

#oscar::before {
  background-image: url("../../assets/images/Sunflower.png");
 
}

#oscar::after {
  background-image: url("../../assets/images/orchid.png");
  right: -70px;
  top: -40px;

}
