@keyframes rotateFlower {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

// section story
.story__article::after,
.story h2::after {
    animation: rotateFlower 5s linear infinite; 
}

// Section Studio
#studio {

	h2 {
		&::before, &::after {
			animation: rotateFlower 5s linear infinite;
		}
		
		&::before {
			transform-origin: 101.5px 99.5px;
		}
		
		&::after {
			transform-origin: 54px 53px;
		}
	}
}

//Section Footer 
.site-footer ul::after,
.site-footer::before,
.site-footer::after {
	animation: rotateFlower 5s linear infinite;
}
